---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Portfolio 2024">
  <h1>hello world!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed velit magnam
    rem omnis repellat necessitatibus a, pariatur reiciendis quidem dolor ex
    molestiae ipsa illum minus officiis deserunt neque exercitationem aperiam.
  </p>
</MainLayout>
