* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    margin: auto;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

:root {
    /* farver */

}